default_language_version:
  python: python3
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.1
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff  # isort
      name: ruff-isort
      args: ["check", "--select", "I", "--fix"]
    - id: ruff-format
      name: ruff-format
      args: ["--exclude", "docs/*"]
