h5py==3.4.0
ipython==5.8.0
numpy==1.16.5
cftime==1.0.3.4
pygdal==2.2.2.3
pyproj==2.2.2
Shapely==1.6.4
mercantile==1.1.2
geojson==2.5.0
bumpversion==0.5.3
coverage==4.5.1
flake8==3.5.0
pytest-cov==2.5.1
pytest-flake8==0.9.1
pytest==4.0.1
Sphinx==1.7.0
watchdog==0.8.3
